$font-family-main: "futura-pt", "Trebuchet MS", "Arial", sans-serif;
//$font-family-alt:

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-primary: #A28C0B;
$color-secondary: #223D62;
$color-tertiary: #f2f2f2;
$color-quaternary: #9D9D9D;
$color-quinary: #707070;
//$color-senary:

$font-size-extra-small: 0.7778rem; // 14px
$font-size-small: 0.8889rem;       // 16px
$font-size-normal: 1rem;           // 18px
$font-size-medium: 1.5556rem;      // 28px
$font-size-large: 2.2222rem;       // 40px
$font-size-extra-large: 3rem;      // 54px
$font-size-huge: 3.3333rem;        // 60px

$transition-normal: all .2s ease;
$text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
$box-shadow: 0px 5px 10px rgba(0,0,0,.25);

$enable-negative-margins: true;