/*
  Editor and Gutenberg Block Styles
*/

@import "fonts";
@import "functions";
@import "variables";

/* Bootstrap components */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

/* vendors */


/* components */
@import "main";


@import "wordpress";

.wp-block{
  max-width: none;
}

.text-center{
  text-align: center;
}
.text-right,
.text-end{
  text-align: right;
}
.text-left,
.text-start{
  text-align: left;
}

.block-editor-block-list__layout.is-root-container{
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 100px !important;
}

.wp-block-wp-bootstrap-blocks-container{
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.is-reusable>.alignfull{
  width: 100vw !important;
  left: 50%;
  margin-left: -50vw;
  max-width: none !important;
  position: relative;
}

.wp-block-cover.hero-section{
  .block-editor-block-list__layout{
    align-items: center;
  }
}