//dev only styles, will be in theme.json
a{
  transition: $transition-normal;
  color: inherit;
  text-decoration: none;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus{
    color: inherit;
    text-decoration: underline;
  }
}

input[type="submit"],
button{
  transition: $transition-normal;
}

h1{
  font-size: $font-size-extra-large;
  font-family: $font-family-heading;
  font-weight: $font-weight-semibold;
}

h2{
  font-size: $font-size-large;
  font-family: $font-family-heading;
  font-weight: $font-weight-semibold;
}

h3{
  font-size: $font-size-medium;
  font-family: $font-family-heading;
  font-weight: $font-weight-semibold;
}

h4{
  font-size: $font-size-normal;
}

p{
  font-size: $font-size-normal;
}